# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.cproject
.project
.settings/
project
sdl2-makefile-project.config
sdl2-makefile-project.creator
sdl2-makefile-project.creator.user
sdl2-makefile-project.files
sdl2-makefile-project.includes
